# Ignore virtual environment
.venv/

# Ignore macOS system files
.DS_Store

# Ignore fine-tuned TrOCR model folder
fine_tuned_trocr/

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore logs and temporary files
*.log
*.tmp
*.bak
temp/
tmp/

# Ignore data and large files
_dataset/
*.tif
*.pdf
*.box
*.tr
*.traineddata

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment-specific files
.env

A/
B/
C/
